@model ActorModel

@{
    ViewData["Title"] = "Add new actor";
}
@if(User.IsInRole("ADMIN")){
<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
<div class="row text">
    <div class="col-md-8 offset-2" style="width: 15rem"> 
        <p>

        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Add">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                                <input asp-for="DateOfBirth" type="date" class="form-control" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>                            <div class="form-group">
                                <label asp-for="DateOfDeath" class="control-label"></label>
                                <input asp-for="DateOfDeath" type="date" class="form-control" />
                            </div>


                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PlaceOfBirthCity" class="control-label"></label>
                                    <input asp-for="PlaceOfBirthCity" class="form-control" />
                                    <span asp-validation-for="PlaceOfBirthCity" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PlaceOfBirthCountry" class="control-label"></label>
                                    <input asp-for="PlaceOfBirthCountry" class="form-control" />
                                    <span asp-validation-for="PlaceOfBirthCountry" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ImageURL" class="control-label"></label>
                                    <input asp-for="ImageURL" class="form-control" />
                                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                                </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Biography" class="control-label"></label>
                                <textarea asp-for="Biography" class="form-control"></textarea>
                                    <span asp-validation-for="Biography" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <div class="body" style="height: 2em"></div>
                    </div>

                    <div class="form-group">
                                <a class="btn btn-secondary" asp-action="Index">Show all</a>
                        <input type="submit" value="Create" class="btn btn-success float-right" />
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
</body>
}
