@{
    ViewData["Title"] = "Access Denied!";
}
<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
    <div class="row" style="height: 1em;"></div>
    <div class="row">
        <div class="col-md-6 offset-3 alert alert-danger text-center">
            <h2>Access Denied</h2>
            <p>You do not have sufficient permissions to access this page.</p>
            <hr />
            <p>
                <a asp-controller="Movie" asp-action="Index" class="btn btn-danger"> Go Back</a>
            </p>
        </div>
    </div>
</body>