<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
    <div class="row" style="height: 1em;"></div>
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the orders section of your profile.</p>
            <p>Link with an access to a movie will be sent within 15minutes to your email address</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>
</body>