@model IEnumerable<MovieModel>
@{
    ViewData["Title"] = "Movies";
}
<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
    <div class="row" style="height: 1em;"></div>
<div class="row" style="row-gap: 2em; column-gap: 1em;">
    @foreach (var movie in Model)
    {
                            <div class="container p-0; " style="width: 18rem; height: 26.5rem;">

                  <img class="w3-card-4"  src="@movie.ImageURL" alt="Card image cap" style="height: 20rem; width:100% ">
                                  <div class="container-body" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                          <div class="container-body" style="height: 3rem">
                                <p class="text-center" style="font-family: Lucida Console; font-weight:900; ">@movie.Name</p>
                            </div>


                            <div class="card-footer ">
                                <p class="card-text">
                                         <a class="btn btn-primary float-right" asp-action="Details" asp-route-id="@movie.Id">
                                                    <i class="bi bi-eye-fill"></i> Details
                                        </a>
                                    
                                    <a class="btn btn-success text-white" asp-controller="Order" asp-action="AddItemToShoppingCart" asp-route-id="@movie.Id">
                                        <i class="bi bi-cart-plus"></i>add $@movie.Price.ToString()
                                        </a> 
                                           

                                </p>
                            </div>
                        </div>
                  </div>



    }
    </div>
    </body>